<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="fullscreen_block">
  <div class="fs_grid_module">
      
<!-- USER/IMAGE BLOCK. ITERATE OVER USERS TO GET ALL USERS'S PHOTOS AND PLOP THEM IN THE DESIGN LAYOUT -->
<!-- WILL NEED FILTERING/PAGINATION -->
  <% @users.each do |user| %>

    <div class="grid_gallery-item">
      <div class="item_hover">
        <div class="item_hover-img">
          <%= image_tag(user.image_url) %>
            <div class="item_hover-fadder"></div>
              <a href="img/gallery/gallery_grid1-1.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
        </div>
        <div class="item_hover-body">
          <div class="item_hover-title"><h3><%= link_to user.full_name, user %></h3></div>
            <div class="item_hover-descr">
                Nunc id faucibus orci, in tempus est. Integer tristique augue vitae lacus vestibulum tristique non quis eros. Mauris gravida.
            </div>
        </div>
      </div>
    </div>

  <% end %>
<!-- END USER IMAGE BLOCK -->

  <div class="clear"></div>
  </div><!-- .fs_grid_module -->
</div> <!-- .fullscreen_block -->   
<!-- END TOP  -->






    <div class="header2top"></div>
    <!--<div class="header2top"></div>-->
    <script>
    $(document).ready(function(){
    });
    $(window).load(function(){
      //$('.fs_grid_module').masonry();
      $('.fs_grid_module').masonry({
        itemSelector: '.grid_gallery-item',
        isAnimated: true
      });
      setTimeout("$('.fs_grid_module').masonry()",500);
    });
    $(window).resize(function(){
      $('.fs_grid_module').masonry();
    });
    </script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/theme.js"></script>  