<!-- The gallery partial is another name for the user#index page -->
    
    <%= yield %>

    
    <div class="fullscreen_block">
    <div class="fs_grid_module">
        
          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-1.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-1.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Awesome Theme</h3></div>
                        <div class="item_hover-descr">
                            Nunc id faucibus orci, in tempus est. Integer tristique augue vitae lacus vestibulum tristique non quis eros. Mauris gravida.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-2.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-2.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Lorem Ipsum Dolor</h3></div>
                        <div class="item_hover-descr">
                            Etiam gravida varius pretium. Fusce cursus nisi lorem, vitae posuere odio varius id. Ut eleifend justo quam, ut blandit.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-3.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-3.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Consectetur Adipiscing</h3></div>
                        <div class="item_hover-descr">
                            Nam quis leo sagittis, tincidunt libero ac, venenatis erat. Nulla facilisi. Aliquam dictum quam in neque gravida consequat.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-4.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-4.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Suspendisse Ac</h3></div>
                        <div class="item_hover-descr">
                            Etiam bibendum dignissim lacinia. Cras id felis auctor purus interdum sollicitudin. Ut urna elit, posuere a diam ac, pharetra.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-5.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-5.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Fusce Volutpat</h3></div>
                        <div class="item_hover-descr">
                            Suspendisse neque mi, hendrerit mollis iaculis sit amet, faucibus ac nibh. Etiam bibendum dignissim lacinia. Cras id felis.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-6.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-6.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Et Eleifend</h3></div>
                        <div class="item_hover-descr">
                            Cras at leo pellentesque, lacinia sem vel, imperdiet lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-7.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-7.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Facilisis sed</h3></div>
                        <div class="item_hover-descr">
                            Mauris molestie lacinia sollicitudin. Quisque tincidunt tellus quis sapien rhoncus, sed ultrices lorem egestas. Ut hendrerit purus.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-8.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-8.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Quisque iaculis</h3></div>
                        <div class="item_hover-descr">
                            Proin rutrum placerat mi at dapibus. Sed imperdiet ligula augue, ut volutpat tellus fermentum quis. Nulla eu elit eu dui.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-9.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-9.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Gravida Tincidunt</h3></div>
                        <div class="item_hover-descr">
                            Vestibulum ullamcorper consectetur dui in interdum. Nullam eleifend felis sit amet fermentum imperdiet. Sed ac velit in massa.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-10.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-10.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Erat Purus Imperdiet</h3></div>
                        <div class="item_hover-descr">
                            Aliquam erat volutpat. Suspendisse cursus iaculis odio eu tincidunt. Suspendisse pellentesque purus non fermentum tincidunt.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-11.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-11.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Id Semper Mauris</h3></div>
                        <div class="item_hover-descr">
                            Ut elementum ante quis egestas sagittis. Aliquam erat volutpat. Suspendisse cursus iaculis odio eu tincidunt feugiat.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-12.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-12.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Nulla Rhoncus Lorem</h3></div>
                        <div class="item_hover-descr">
                            Ut condimentum fringilla massa, eu eleifend est ultricies nec. Suspendisse vehicula tempor purus, id elementum felis interdum sit.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-13.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-13.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Ac Scelerisque Eros</h3></div>
                        <div class="item_hover-descr">
                            Nullam tincidunt est et eros tristique aliquet. Morbi sed arcu ac dui ullamcorper vulputate sed in est. Integer at massa in metus.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-14.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-14.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Proin in Pharetra</h3></div>
                        <div class="item_hover-descr">
                            Aenean eu nisl dictum, dignissim justo et, tempus tortor. Quisque commodo, orci sed accumsan tincidunt, nunc velit aliquam odio.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-15.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-15.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Aenean Id Purus</h3></div>
                        <div class="item_hover-descr">
                            Donec dapibus, massa ac vulputate pharetra, metus sapien consectetur risus, sed interdum dolor urna at felis. Nulla vel hendrerit.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-16.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-16.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Lectus Sem Condime</h3></div>
                        <div class="item_hover-descr">
                            Nam suscipit est at neque tempor convallis. Quisque dignissim est consequat sodales porta. Vitae neque volutpat placerat lorem.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-17.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-17.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Tristique Diam Nisl</h3></div>
                        <div class="item_hover-descr">
                            Cras viverra convallis nisi, non dictum quam volutpat ac. Vestibulum consequat dolor vitae neque volutpat placerat. Dolor sit.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-18.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-18.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Cras Viverra Convallis</h3></div>
                        <div class="item_hover-descr">
                            Ac scelerisque eros rutrum vel. Proin nec pharetra urna. Aenean id purus urna. Duis sagittis, lectus a venenatis lobortis lorem.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-19.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-19.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Non Dictum Quam</h3></div>
                        <div class="item_hover-descr">
                            Quisque iaculis, nulla gravida tincidunt pulvinar, erat purus imperdiet tellus, id semper mauris velit vel erat. Nulla rhoncus lorem.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-20.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-20.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Vestibulum Set Amet</h3></div>
                        <div class="item_hover-descr">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac mattis lorem. Fusce volutpat elit mi, et eleifend augue.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-1.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-1.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Awesome Theme</h3></div>
                        <div class="item_hover-descr">
                            Nunc id faucibus orci, in tempus est. Integer tristique augue vitae lacus vestibulum tristique non quis eros. Mauris gravida.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-2.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-2.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Lorem Ipsum Dolor</h3></div>
                        <div class="item_hover-descr">
                            Etiam gravida varius pretium. Fusce cursus nisi lorem, vitae posuere odio varius id. Ut eleifend justo quam, ut blandit.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-3.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-3.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Consectetur Adipiscing</h3></div>
                        <div class="item_hover-descr">
                            Nam quis leo sagittis, tincidunt libero ac, venenatis erat. Nulla facilisi. Aliquam dictum quam in neque gravida consequat.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-4.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-4.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Suspendisse Ac</h3></div>
                        <div class="item_hover-descr">
                            Etiam bibendum dignissim lacinia. Cras id felis auctor purus interdum sollicitudin. Ut urna elit, posuere a diam ac, pharetra.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-5.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-5.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Fusce Volutpat</h3></div>
                        <div class="item_hover-descr">
                            Suspendisse neque mi, hendrerit mollis iaculis sit amet, faucibus ac nibh. Etiam bibendum dignissim lacinia. Cras id felis.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-6.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-6.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Et Eleifend</h3></div>
                        <div class="item_hover-descr">
                            Cras at leo pellentesque, lacinia sem vel, imperdiet lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-7.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-7.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Facilisis sed</h3></div>
                        <div class="item_hover-descr">
                            Mauris molestie lacinia sollicitudin. Quisque tincidunt tellus quis sapien rhoncus, sed ultrices lorem egestas. Ut hendrerit purus.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-8.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-8.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Quisque iaculis</h3></div>
                        <div class="item_hover-descr">
                            Proin rutrum placerat mi at dapibus. Sed imperdiet ligula augue, ut volutpat tellus fermentum quis. Nulla eu elit eu dui.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-9.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-9.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Gravida Tincidunt</h3></div>
                        <div class="item_hover-descr">
                            Vestibulum ullamcorper consectetur dui in interdum. Nullam eleifend felis sit amet fermentum imperdiet. Sed ac velit in massa.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-10.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-10.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Erat Purus Imperdiet</h3></div>
                        <div class="item_hover-descr">
                            Aliquam erat volutpat. Suspendisse cursus iaculis odio eu tincidunt. Suspendisse pellentesque purus non fermentum tincidunt.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-11.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-11.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Id Semper Mauris</h3></div>
                        <div class="item_hover-descr">
                            Ut elementum ante quis egestas sagittis. Aliquam erat volutpat. Suspendisse cursus iaculis odio eu tincidunt feugiat.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-12.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-12.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Nulla Rhoncus Lorem</h3></div>
                        <div class="item_hover-descr">
                            Ut condimentum fringilla massa, eu eleifend est ultricies nec. Suspendisse vehicula tempor purus, id elementum felis interdum sit.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-13.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-13.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Ac Scelerisque Eros</h3></div>
                        <div class="item_hover-descr">
                            Nullam tincidunt est et eros tristique aliquet. Morbi sed arcu ac dui ullamcorper vulputate sed in est. Integer at massa in metus.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-14.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-14.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Proin in Pharetra</h3></div>
                        <div class="item_hover-descr">
                            Aenean eu nisl dictum, dignissim justo et, tempus tortor. Quisque commodo, orci sed accumsan tincidunt, nunc velit aliquam odio.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-15.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-15.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Aenean Id Purus</h3></div>
                        <div class="item_hover-descr">
                            Donec dapibus, massa ac vulputate pharetra, metus sapien consectetur risus, sed interdum dolor urna at felis. Nulla vel hendrerit.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-16.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-16.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Lectus Sem Condime</h3></div>
                        <div class="item_hover-descr">
                            Nam suscipit est at neque tempor convallis. Quisque dignissim est consequat sodales porta. Vitae neque volutpat placerat lorem.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-17.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-17.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Tristique Diam Nisl</h3></div>
                        <div class="item_hover-descr">
                            Cras viverra convallis nisi, non dictum quam volutpat ac. Vestibulum consequat dolor vitae neque volutpat placerat. Dolor sit.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-18.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-18.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Cras Viverra Convallis</h3></div>
                        <div class="item_hover-descr">
                            Ac scelerisque eros rutrum vel. Proin nec pharetra urna. Aenean id purus urna. Duis sagittis, lectus a venenatis lobortis lorem.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-19.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-19.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Non Dictum Quam</h3></div>
                        <div class="item_hover-descr">
                            Quisque iaculis, nulla gravida tincidunt pulvinar, erat purus imperdiet tellus, id semper mauris velit vel erat. Nulla rhoncus lorem.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

          <div class="grid_gallery-item">
              <div class="item_hover">
                    <div class="item_hover-img">
                        <img src="img/gallery/gallery_grid1-20.jpg" alt=""/>
                        <div class="item_hover-fadder"></div>
                        <a href="img/gallery/gallery_grid1-20.jpg" rel="prettyPhoto[gallery1]" class="prettyPhoto"></a><a href="portfolio_post.html" class="post_link"></a>
                    </div>
                    <div class="item_hover-body">
                        <div class="item_hover-title"><h3>Vestibulum Set Amet</h3></div>
                        <div class="item_hover-descr">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac mattis lorem. Fusce volutpat elit mi, et eleifend augue.
                        </div>
                    </div>
                </div>
            </div><!-- .grid_gallery-item -->

            <div class="clear"></div>
        </div><!-- .fs_grid_module -->
  </div> <!-- .fullscreen_block -->   
    <div class="header2top"></div>
    <!--<div class="header2top"></div>-->
    <script>
    $(document).ready(function(){
    });
    $(window).load(function(){
      //$('.fs_grid_module').masonry();
      $('.fs_grid_module').masonry({
        itemSelector: '.grid_gallery-item',
        isAnimated: true
      });
      setTimeout("$('.fs_grid_module').masonry()",500);
    });
    $(window).resize(function(){
      $('.fs_grid_module').masonry();
    });
    </script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/theme.js"></script>  