<!DOCTYPE html>
<html>
<!-- HEAD -->
<head>
 <!-- start: Meta -->
<meta charset="utf-8">
<title>Gayface</title> 
<meta name="description" content="Gayface"/>
<meta name="keywords" content="Gayface" />
<meta name="author" content="Designed and Developed for Gayface by Samantha Radocchia aka iamsamsterdam. The Machine Elf, LLC."/>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<!-- BODY -->
<body>
  <header class> 
  <div class="header_wrapper container">
<!-- NAV BAR -->
    <nav>
      <ul class="menu">
<!--         <li class="has-menu level1">Home</li> -->
        <li class="current-menu-parent has-menu level1">Gallery</li>
        <li class="has-menu level1">Locations</li>
        <li class="has-menu level1">Tour/Events/Media</li>
        <li class="has-menu level1">About/Contact</li>
        <li class="has-menu level1">Forum</li>
        <li class="has-menu level1">Shop</li>  
      </ul>
      <div class="clear"> </div>
    </nav>
  </div>
  </header>

<!-- PAGE CONTENT   -->
  <section id="page">
    <%= yield %>
  </section>

<!-- FOOTER -->
  <footer>

  </footer>


</body>
</html>
